{% extends '_layout.html' %}

{% block content %}
	<h1 class="col-xs-12">Create new post</h1>

	<div class="col-xs-12">
		<form method="post" action="{{ euh }}">
			{% csrf_token %}
			
			<div class="form-group">
				<label for="post-title">Post title</label>
				<input type="email" class="form-control" id="post-title" name="post-title">
			</div>
			<div class="form-group">
				<label for="post-content">Content</label>
				<textarea class="form-control" id="post-content" name="post-content" rows="6"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-default">Add post</button>
			</div>
		</form>
	</div>
{% endblock %}
